.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
build
dist
*.egg-info
.env
.env.backend
secrets
database/postgres
**/*service-account*.json
**/*service_account*.json
**/application_default_credentials.json
**/gcloud-credentials*.json
tests
sources
